html {
  text-align: center;
  margin-top: 300px;
}

h1 {
  color: burlywood;
  font-size: 45px;
}

h2 {
  color: black;
  font-size: 50px;
}
.buttonSection * {
  margin: 10px;
  background-color: grey;
  border: grey;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  border-radius: 50%;
  padding: 20px;
}
