#labelsSection{
    background-color: red;
    display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  min-height: 100vh;

  font-size: 50px;
}

