#letterDiv {
  border-bottom: 2px solid black;
  float: left;
  margin: 40px;
}

#letter {
  visibility: hidden;
}

#playAgainBtn {
  margin: 20px;
}

#livesDiv {
  margin-top: 250px;
}

#canvas {
  background-color: lightgreen;
  border: 3px dotted green;
}
