/* #button {
  transition-delay: 2s;
  transition-property: backgroun-color;
} */

h1 {
  text-align: center;
}

#startButon {
  margin: 0;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#btnDiv {
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 300px;
  width: 500px;
}

#button {
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 60px;
}

#space {
  border: 1px solid black;
  margin-top: 160px;
}

.fa-solid {
  /* background-color: red; */
  /* margin: 0;
  padding: 0;
  text-align: justify;
  font-size: 20px; */
  /* width: fit-content;
  block-size: fit-content;
  font-size: 50px;
  padding: 0px;
  margin: 0px; */
}

/* .fa-hippo {
  background-color: red;
  font-size: 40px;
} */
