/* //!Position
Default position: static 
Relative: muzu s tim hybat napr top:150px
Absolute: Ignoruje pozici?
Fixed: zafixovana pozice napr. kdyz budu scrolovat na strance tak element zustane na stejnem miste
Sticky: zustane to prilepene na pozici. napr position sticky; top 0px pokud budu skrolovat bude to viditelne porad nahore
*/

body {
  margin: 0px;
}
#box1 {
  border: 5px solid;
  width: 250px;
  height: 250px;
  font-size: 22px;
  background: lightblue;
}

#box2 {
  border: 5px solid;
  width: 250px;
  height: 250px;
  font-size: 22px;
  background: yellow;
}
